| </main>
#home-hero.pure-g-r
  .pure-u-1-3
  #top-box.pure-u-1-3.text-center
    h2 Keep all your social and personal content in one place. Searchable by keyword.
    ul#spinner
      li
      li
      li
      li
      li
    a.brand-nav-inverse(href="/register") <span class="memory rf-atomist">tomist</span>
    p.lead.hidden-mobile "When I need to remember, I search for it on Atomist."
    
  .pure-u-1-3