doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width")
    link(rel='icon', href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    if user
      meta(name="uid", content="#{user._id}")
  body
    main.container
      #message
        if message.length > 0
          p.pull-center.message #{message}
      #error
        if error.length > 0
          p.pull-center.error #{error}
      .pure-g-r
        .pure-u-1-2
          #menu-bar.pure-menu.pure-menu-open.pure-menu-horizontal
            ul.otherly
              li
                a.brand-nav(href="/") <span class="memory">Memory</span>Mine
              if user
                li
                  a.account-nav(href="/account")
                    i.icon-cog
                li
                  a.sign-out-nav(href="/sign-out")
                    i.icon-signout
              if (!user)

      block content

      footer.footer

    script(src='/socket.io/socket.io.js')