doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width")
    link(rel='icon', href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    if user
      meta(name="uid", content="#{user._id}")
  body
    if message.length > 0
      p#message.pull-center.message #{message}
    if error.length > 0
      p#error.pull-center.error #{error}
    .pure-g-r
      .pure-u-1-2
        .pure-menu.pure-menu-open.pure-menu-horizontal
          ul.otherly
            li
              a.brand-nav(href="/") <span class="memory">Memory</span>Mine
            if user
              li
                a(href="/account") Account
              li
                a(href="/sign-out") Sign Out
            if (!user)

    block content

    footer.footer

    script(src='/socket.io/socket.io.js')