include introHeader
#bottom-nav
  ul
    li
      a(href="register") Register
    li
      a(href="features") Features
    li
      a(href="atomistDemo") Try The Demo
    li
      a(href="sign-in") Sign In
    li
      a(href="contact") Contact

script
  window.onload = function(){
    if(window.innerHeight > document.getElementById('home-hero').clientHeight){
      console.log(document.getElementById('home-hero').clientHeight)
      document.getElementById('home-hero').style.height = window.innerHeight+23+'px';
      document.getElementById('top-box').style.margin = window.innerHeight/5+'px auto -85px auto';
    }
  }