@import url("./pure-min.css");
@import url("http://fonts.googleapis.com/css?family=Muli:300|Telex");
@import url("./font-awesome.min.css");
@import url("./animate-custom.css");
body {
  font: 14px "Telex", Helvetica, Arial, sans-serif;
  background-color: #fcfcfc;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
h1, h2, h3, h4{
  font-family: "Muli";
  font-weight: 300;
}
.pure-g-r{
  margin: 0 5px;
}
a {
  color: #5171ba;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
a:hover{
  color: rgba(81,113,186,0.75);
}
.transition{transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;}
input[type="button"], input[type="submit"], .btn, button{
  border: none;
  background: rgba(127,202,97,0.75);
  /*#402cf3*/
  color: #111;
  padding: 0.3em 1em;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
button.disabled, a.disabled{
  background-color: #eee;
  cursor: text;
}
button.disabled:hover, a.disabled:hover{
  background-color: #eee;
}
input[type="submit"]{
  color: #111;
  background-color: rgba(127,202,97,0.75);
  /*#23f02f*/
}
input[type="submit"]:hover {
  background-color: rgba(127,202,97,0.5);
}
input[type="button"]:hover, .btn:hover, button:hover, #memory-form #send:hover{
  color: #111;
  background-color: rgba(127,202,97,0.5);
  border: none;
}
input:focus, textarea:focus{
  border:1px solid #ccc !important;
  box-shadow: 0 0 3px rgba(127,202,97,0.8) inset !important;
}
textarea{
  font: 14px "Telex" !important;
  background-color: white;
}
input[type="text"]{
  background-color: white;
}
code {background-color:#eee;padding:0.4em 0.6em;line-height: 2.5em;}
#home-hero{
  margin: -4em 0 0 0;
  height: 250px;
  background-color: #5171ba;
}
#home-hero .pure-u-1-3{
  height: 100%;
}
.remover:hover:before{
  content: "\f067";
  font-size: 1.2em;
  transition-delay: 2s;
  -webkit-transition-delay: 2s; /* Safari */
  color: rgb(194,89,117);
}
.icon-rotate-45:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
/*Nav bar*/
#menu-bar{
  background-color: inherit;
}
.pure-menu ul li a{
  font-weight: 400;
  font-family: "Telex";
  color: #222;
  border-bottom: 3px solid rgba(255,255,255,0);
  padding-bottom: 3px;
}
.pure-menu ul li a:hover{
  border-bottom: 3px solid rgba(81,113,186,0.75);
  background: none;
}
.account-nav:hover{
  border-bottom: 3px solid rgba(127,202,97,0.75) !important;
  background: none;
}
.sign-out-nav:hover{
  border-bottom: 3px solid rgba(194,89,117,0.75) !important;
  background: none;
}
.brand-nav{
  padding-top: 0;
  font-size: 1.5em;
  padding-bottom: 3px !important;
  line-height: 1em !important;
}
.brand-nav-inverse{
  padding-top: 0;
  font-size: 1.5em;
  padding-bottom: 3px !important;
  line-height: 1em !important;
  color: #fcfcfc !important;
}
.brand-nav-inverse:hover{
  border-bottom: 3px solid rgba(255,255,255,0.75) !important;
  background: none;
}
.memory{
  font-family: "Muli";
  font-weight: 300;
}
.nav-input {
  margin-top: 1.1em;
}
.nav-input .pure-g {
  padding: 0 1em;
}
.nav-input input{
  margin-top: 5px;
  width: 100%;
}
.nav-input #search-submit-field{
  padding-bottom: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: auto;
  margin-top: 5px;
  height: 27px;
}
.nav-input #search-text-field {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 27px;
}
.alt-btn{
  float: right;
  font-size: 0.6em;
  font-family: 'Telex';
}
.password-toggle{padding-left: 1em;}
.message, .error {
  line-height: 3em;
  margin: 0 0 1em 0;
  padding: 0.5em 2em;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 3px;
}
.message {
  color: #384682;
  background-color: #c3cbf0;
}
.error {
  color: #ad8600;
  background-color: #feffab;
}
.lead {
  font-size: 1.2em;
}
.muted{
  opacity: 0.5;
}
.text-center{
  text-align: center;
}
.hiliter{
  color: rgb(194,89,117);
  font-style: italic;
}
.no-display{display: none;}
#results-list{
  margin:3px 40px 0 15px;
  max-width: 356px;
}
#results-list div.clear-search{
  padding: 10px;
}
.clear-search a{
  color: rgb(194,89,117);
}
#memory-list, #results-list {
  list-style: none;
  padding: 0;
}
#memory-list li, #results-list li {
  padding: 1em;
  overflow: hidden;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: white;
}
#memory-list li:hover, #results-list li:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#memory-list ul, #results-list ul {
  margin-top: 0;
}
#memory-list .memory-time, #results-list .memory-time{
  padding: 0;
  margin-top: 10px;
  box-shadow: none;
}
#memory-list li small, #results-list li small{
  opacity: 0.5;
  float: right;
}
legend{
  font-family: "Muli";
  font-weight: 300;
}
#memory-form #memory-text{
  width: 100%;
  margin-bottom: 15px;
}
#memory-form .link-label, .link-label{
  width: auto;
}
#memory-form #send{
  width: 100%;
  padding: 0.5em;
}
#memory-form .pure-controls{
  margin-left: 0;
}
@media only screen and (max-width :1000px){
  .wide-only{
    display: none;
  }
  .wide-half{
    width: 50%;
  }
}
@media only screen and (max-width :480px){
  .nav-input button[type="submit"]{
    width: 100%;
  }
  #memory-form .link-label, .link-label{
    display: none;
  }
  #results-list{
    margin-right:15px;
    width: auto;
  }
  .password-toggle{display: none;}
}